<div class="banner">
  <div class="shadow-bg"></div>
  <h2>Manger sain <br />même au bureau.</h2>
  <p>Des repas sains, équilibrés et gourmands pour prendre soin de ma santé toute la semaine</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="menu-week">
        <% next_days(5).each do |d| %>
          <li class="<%= 'selected' if d == Date.today %>">
            <%= link_to menus_path(date: d.strftime('%d-%m-%Y')), remote: true do %>
              <span class="w-day"><%= l(d, format: '%A').capitalize %></span>
              <span class="n-day"><%= d.strftime('%d') %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <%= render 'products/index', products: @products %>
      </div>
    </div>
  </div>
</div>

<div class="test">
  <div class="banner-second"></div>
  <div class="encart">
    <h3>Le goût de manger sain</h3>
    <hr>
    <p><%= t('hello') %></p>
  </div>
</div>

<div class="container">
  <div class="row" id="products-week">
    <div class="col-xs-12">
      <h2 class="text-center">Au menu cette semaine</h2>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <% @products_of_week.each do |p| %>
        <div class="col-xs-12 col-sm-4">
          <div style="background-image: url(<%= cl_image_path p.photo.path, width: 300, height: 300, crop: :fill %>); width: 100%; height: 260px; margin-bottom: 15px">
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $( '.menu-week' ).on( 'click','li', function() {
      $('.menu-week li.selected' ).removeClass( 'selected' );
      $( this ).addClass( "selected" );
    });
  </script>
<% end %>
