<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Menus of the day</h2>
      <% @menus.each do |menu| %>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-card">
          <div class="card-bg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= cl_image_path menu.photo.path, height: 250, crop: :fill %>');"></div>
          <div class="card-category"><%= humanized_money_with_symbol(menu.price) %></div>
          <div class="card-description">
            <h2 class="text-center"><%= menu.title %></h2>
            <%= simple_form_for [menu, @line_item] do |f| %>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.submit 'Commander', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
