<% title "iLunch" %>

<div class="banner">
  <div class="shadow-bg"></div>
  <h2>Manger sain <br />même au bureau.</h2>
  <p>Des repas sains, équilibrés et gourmands pour prendre soin de ma santé toute la semaine</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="menu-week">
        <% next_days(5).each_with_index do |d, i| %>
          <li class="<%= 'selected' if i == 0 %>" id="<%= d.strftime('%d-%m-%Y') %>" >
            <span class="w-day"><%= l(d, format: '%A').capitalize %></span>
            <span class="n-day"><%= d.strftime('%d') %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div id="products">
          <% @products.each do |p| %>
            <div class="col-xs-12 col-sm-4" data-date="<%= p.date.strftime('%d-%m-%Y') %>">
              <%= render 'products/show', product: p %>
            </div>
          <% end %>
          <div id="empty-products">
            <p>Notre chef cuisine et vous prépare de bons petits plats.<br />
               Revenez demain pour passer commande…</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="test">
  <div class="banner-second"></div>
  <div class="encart">
    <h3>Des repas sains au travail</h3>
    <hr>
    <p>i-lunch est une foodtech qui lie la gastronomie aux nouvelles technologies pour offrir à tous la possibilité de manger un repas sain et gourmand livré au bureau pour 6,5€ plat + boisson ou plat + dessert !
    </p>
    <p>
    Une alimentation équilibrée élaborée permet d’être en meilleure santé, d'avoir plein d’énergie et d’être de bonne humeur. i-lunch est la clé de la vie…</p>
  </div>
</div>

<div class="container">
  <div class="row" id="products-week">
    <div class="col-xs-12">
      <h2 class="text-center">Au menu cette semaine</h2>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <% @products_of_week.each do |p| %>
        <div class="col-xs-12 col-sm-4">
          <div style="background-image: url(<%= cl_image_path p.photo.path, width: 300, height: 300, crop: :fill %>); width: 100%; height: 260px; margin-bottom: 15px">
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $( '#products' ).children().hide();
    var date = "<%= next_days(5).first.strftime('%d-%m-%Y') %>";
    $( '*[data-date="' + date + '"]' ).show();

    $( '.menu-week' ).on( 'click','li', function() {
      $('.menu-week li.selected' ).removeClass( 'selected' );
      $( this ).addClass( "selected" );
      $( '#products' ).children().hide();
      var date = $(this).attr( "id" );
      var selected = $( '*[data-date="' + date + '"]' );
      if (selected.length <= 0) {
        console.log('nothing');
        $( '#empty-products' ).show();
      } else {
        $( '*[data-date="' + date + '"]' ).show();
      }
    });
  </script>
<% end %>
