<div class="banner">
  <div class="shadow-bg"></div>
  <h2>Manger sain <br />même au bureau.</h2>
  <p>Des repas sains, équilibrés et gourmands pour prendre soin de ma santé toute la semaine</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ul class="menu-week">
        <% day_of_week.each do |d| %>
          <li>
            <%= link_to menus_path(date: d.strftime('%d-%m-%Y')), remote: true do %>
              <span class="w-day"><%= d.strftime('%A') %></span>
              <span class="n-day"><%= d.strftime('%d') %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <%= render 'products/index', products: @products %>
      </div>
    </div>
  </div>
  <div class="row" id="menus">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2 class="text-center">Menus du jour</h2>
      <% @menus.each do |menu| %>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-card">
          <div class="card-bg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= cl_image_path menu.photo.path, height: 250, crop: :fill %>');"></div>
          <div class="card-category"><%= humanized_money_with_symbol(menu.price) %></div>
          <div class="card-description">
            <h3 class="text-center"><%= menu.title %></h3>
            <%= simple_form_for [menu, @line_item] do |f| %>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.submit 'Commander', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="test">
  <div class="banner-second"></div>
  <div class="encart">
    <h3>Le goût de manger sain</h3>
    <hr>
    <p>Zdcjdlj sjclqjc jqs lcjqlksq jqjqlj lqj qlkj lkj qlkq </p>
  </div>
</div>

<div class="container">
  <div class="row" id="products-week">
    <div class="col-xs-12">
      <h2 class="text-center">Au menu cette semaine</h2>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <%= render 'products/index', products: @products_of_week %>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $( '.menu-week' ).on( 'click','li', function() {
      $('.menu-week li.selected' ).removeClass( 'selected' );
      $( this ).addClass( "selected" );
    });
  </script>
<% end %>
