<% title 'Créer son compte' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2><%= t(".sign_up") %></h2>
        </div>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <!--  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <%= f.error_notification %>
        </div> -->
        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
              <%= f.input :first_name, label: false, required: true, autofocus: true,
                          placeholder: User.human_attribute_name(:first_name) %>
            </div>
            <div class="col-xs-12 col-sm-5">
              <%= f.input :last_name, label: false, required: true, autofocus: true,
                          placeholder: User.human_attribute_name(:last_name) %>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
              <%= f.input :company_id, label: false, required: true,
                          collection: Company.all, prompt: t('.company'),
                          hint: 'Vos commandes seront livrée à l\'adresse de cette entreprise' %>
            </div>
            <div class="col-xs-12 col-sm-5">
              <%= f.input :phone, label: false, required: true, autofocus: true,
                          placeholder: User.human_attribute_name(:phone),
                          hint: 'Un sms vous sera envoyé à l\'expédition de vos commandes'  %>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <%= f.input :email, label: false, required: true, autofocus: true,
                          placeholder: User.human_attribute_name(:email) %>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <%= f.input :password, label: false, required: true,
                          placeholder: User.human_attribute_name(:password) %>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <%= f.input :password_confirmation, label: false, required: true,
                          placeholder: t('.confirm_pwd') %>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div class="form-group">
                En cliquant sur « <%= t(".sign_up-btn") %> », vous confirmez accepter<br />
                 les <%= link_to 'conditions générales d\'utilisation', pages_path(:cgv) %> d'i-lunch.
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <%= f.button :submit, t(".sign_up-btn"), class: 'btn btn-block btn-primary' %>
                <%- if controller_name != 'sessions' %>
                  <p>Déjà membre d'i-lunch ? <%= link_to t(".sign_in"), new_session_path(resource_name) %></p>
                <% end -%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
