<tr id="order-<%= order.id %>">
  <td><%= order.id %></td>
  <td><%= order.date.strftime('%d/%m/%Y') %></td>
  <td><%= link_to order.user.full_name, admin_users_path(id: order.user.id) if order.user %></td>
  <td><%= order.user.present? ? order.user.phone : 'aucun' %></td>
  <td>
    <%= order.user.company.name if order.user %><br />
    <%= order.user.company.address if order.user %>
  </td>
  <td>
    <%= t("admin.order.status.#{order.status}") %>
  </td>
  <td>
    <% if order.invoicable? %>
      <%= link_to order_path(order, format: 'pdf'), target: '_blank' do %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to "#{order.line_items.count} line items",
                  admin_line_items_path(order: order.id) %></td>
  <td><%= humanized_money_with_symbol(order.total_price) %></td>
  <td>
    <% if OrderPolicy.new(current_user, order, order.id).ready_for_delivery? %>
     <%= link_to "Prête", admin_order_path(order), method: :patch, remote: true, class: "green-link" %>
    <% end %>
  </td>
</tr>
