<div class="container admin-container">
  <h2>Orders</h2>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Id</th>
        <th>Created at</th>
        <th>Customer</th>
        <th>Delivery location</th>
        <th>Status</th>
        <th>Items</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= order.user.email if order.user %></td>
        <td><%= order.user.company.name if order.user %></td>
        <td><%= order.status %></td>
        <td><%= order.line_items.count %> line items</td>
        <td><%= humanized_money_with_symbol(order.total_price) %></td>
        <td><%= link_to 'supprimer', admin_product_path(order), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @orders %>
</div>
