<div id="footer" class="text-center">
  <ul>
    <li><%= link_to 'FAQ', pages_path('faq') %></li>
    <li><%= link_to 'Blog ilunch', 'http://blog.i-lunch.fr' %></li>
    <li><%= link_to 'Contact', 'mailto:contact@ilunch.fr' %></li>
  </ul>
  <ul>
    <li><%= link_to 'Mentions légales', pages_path('terms') %></li>
    <li><%= link_to 'Conditions générales', pages_path('cgv') %></li>
  </ul>
</div>
