<% title "Choix des produits" %>

<%= render 'shared/trails/order', order: @order %>

<% if params[:step] == 'menu' %>
  <div class="container">
    <div class="row" id="menus">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Choisissez votre formule</h2>
        <% @menus.each do |menu| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'show', menu: menu %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row" id="products">
      <div class="col-xs-12">
        <h2 class="text-center"><%= t('select-' + params[:step]) %></h2>
      </div>
      <% if params[:step] == 'extra' %>
      <div class="col-xs-12 col-sm-4">
        <div class="card-no">
          <div class="card-bg">
            <h3>Non merci !</h3><p>Je ne veux pas d'extra.</p>
            <%= link_to 'Passer', new_order_payment_path(@order), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <% end %>
      <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'products/show', line_item: @line_item, product: product, menu_item: @menu_item %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
