<div class="container">
  <div class="row">
    <table>
      <tbody>
      <% @order.line_items.each do |li| %>
        <tr>
          <td><%= cl_image_tag li.product.photo.path, width: 200, crop: :fill %></td>
          <td><%= li.product.name %></td>
          <td><%= li.quantity %>&times;</td>
          <td><%= humanized_money_with_symbol(li.price) %></td>
          <td><%= humanized_money_with_symbol(li.total_price) %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Sous-total</td>
          <td><%= humanized_money_with_symbol(@order.subtotal) %></td>
        </tr>
        <tr>
          <td colspan="4">V.A.T.</td>
          <td><%= humanized_money_with_symbol(@order.vat) %></td>
        </tr>
        <tr>
          <td colspan="4">Total</td>
          <td><%= humanized_money_with_symbol(@order.total_price) %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to 'Régler la commande', new_order_payment_path(@order), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
