<div id="sign-up">
  <%= simple_form_for(@user, url: registration_path(@user)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :first_name, required: true, autofocus: true %>
        </div>
        <div class="col-xs-6">
          <%= f.input :last_name, required: true, autofocus: true %>
        </div>
      </div>
      <%= f.input :company_id, collection: Company.all,
                               hint: ('Si votre entreprise n\'est pas listée,
                               <a href="mailto:victoria@ilunch.fr">contactez-nous</a>').html_safe %>
      <%= f.input :phone, required: true, autofocus: true,
                          hint: 'Vous recevrez un sms à l\'envoi de votre commande.' %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Compléter mes infos", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div id="sign-in">
  <%= simple_form_for(:user, url: session_path(:user)) do |f| %>
    <%= f.input :email %>
    <%= f.input :password, label: 'Mot de passe' %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :remember_me, label: 'Rester connecté', as: :boolean %>
      </div>
      <div class="col-xs-6">
        <div class="form-group text-right">
          <%= link_to "Mot de passe oublié ?", new_password_path(:user) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.submit 'Se connecter', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
