<div id="sign-up">
  <%= simple_form_for(@user, url: registration_path(@user)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :first_name, required: true, autofocus: true %>
        </div>
        <div class="col-xs-6">
          <%= f.input :last_name, required: true, autofocus: true %>
        </div>
      </div>
      <%= f.input :company_id, collection: Company.all %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Compléter mes infos", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div id="sign-in">
  <%= simple_form_for(:user, url: session_path(:user)) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :remember_me, label: 'Conserver la session', as: :boolean %>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= link_to "Mot de passe oublié ?", new_password_path(:user) %>
        </div>
      </div>
    </div>
    <%= f.submit 'Se connecter', class: 'btn btn-primary' %>

  <% end %>
</div>
