<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <table>
        <tbody>
        <% @order.line_items.each do |li| %>
          <tr>
            <td><%= cl_image_tag li.product.photo.path, width: 200, crop: :fill %></td>
            <td><%= li.product.name %></td>
            <td><%= li.quantity %>&times;</td>
            <td><%= humanized_money_with_symbol(li.price) %></td>
            <td><%= humanized_money_with_symbol(li.total_price) %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Total</td>
            <td><%= humanized_money_with_symbol(@order.total_price) %></td>
          </tr>
          <tr>
            <td colspan="4">dont V.A.T.</td>
            <td><%= humanized_money_with_symbol(@order.vat) %></td>
          </tr>
        </tfoot>
      </table>
      <% if @order.company && @order.user %>
        <div class="col-xs-12 text-center">
          <%= render 'form' %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h2>Livraison</h2>
          <% unless @order.company.blank? %>
            <%= render 'companies/show' %>
          <% end %>
          <div id="company-form" style="display: none">
            <%= simple_form_for @order, remote: true do |f| %>
              <%= f.association :company %>
              <%= f.submit 'Valider', class: 'btn btn-primary' %>
            <% end %>
          </div>
          <!-- <a href="#" id="edit-company-btn" class="btn btn-primary">Modifier</a> -->
        </div>
        <div class="col-xs-12" id="user-form">
          <% if @order.user.blank? %>
            <%= render 'user_form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready( function(){
      $('.container').on('click','#edit-company-btn', function (){
        console.log('start hidding');
        $('#company-form').show();
      });
    });
  </script>
<% end %>
