<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <table>
        <tbody>
        <% @order.line_items.each do |li| %>
          <tr>
            <td><%= cl_image_tag li.product.photo.path, width: 200, crop: :fill %></td>
            <td><%= li.product.name %></td>
            <td><%= li.quantity %>&times;</td>
            <td><%= humanized_money_with_symbol(li.price) %></td>
            <td><%= humanized_money_with_symbol(li.total_price) %></td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Total</td>
            <td><%= humanized_money_with_symbol(@order.total_price) %></td>
          </tr>
          <tr>
            <td colspan="4">dont V.A.T.</td>
            <td><%= humanized_money_with_symbol(@order.vat) %></td>
          </tr>
        </tfoot>
      </table>
      <div class="text-center">
        <%= render 'stripe_form' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% if @order.user.blank? && !user_signed_in? %>
        <%= render 'user_form' %>
      <% else %>
        <ul>
          <li><%= current_user.first_name %></li>
          <li><%= current_user.last_name %></li>
          <li><%= current_user.email %></li>
          <li><%= current_user.company.name %></li>
          <li><%= current_user.company.street %></li>
          <li><%= current_user.company.post_code %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready( function(){
      $('.container').on('click','#edit-company-btn', function (){
        console.log('start hidding');
        $('#company-form').show();
      });
    });
  </script>
<% end %>
