<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <table>
        <tbody>
        <% @order.line_items.each do |li| %>
          <% unless li.product_id.nil? %>
            <tr>
              <td><%= cl_image_tag li.product.photo.path, width: 200, crop: :fill %></td>
              <td><%= li.product.name %></td>
              <td><%= li.quantity %>&times;</td>
              <td><%= humanized_money_with_symbol(li.price) %></td>
              <td><%= humanized_money_with_symbol(li.total_price) %></td>
            </tr>
          <% end %>
          <% unless li.menu_id.nil? %>
            <tr>
              <td><%= cl_image_tag li.menu.photo.path, width: 200, crop: :fill %></td>
              <td><%= li.menu.title %></td>
              <td><%= li.quantity %>&times;</td>
              <td><%= humanized_money_with_symbol(li.price) %></td>
              <td><%= humanized_money_with_symbol(li.total_price) %></td>
            </tr>
            <% li.menu_items.each do |mi| %>
              <tr>
                <td><%= cl_image_tag mi.product.photo.path, width: 200, crop: :fill %></td>
                <td><%= mi.product.name %></td>
                <td colspan="3"><%= mi.quantity %>&times;</td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">TVA</td>
            <td><%= humanized_money_with_symbol(@order.vat) %></td>
          </tr>
          <tr>
            <td colspan="4">Total</td>
            <td><%= humanized_money_with_symbol(@order.total_price) %></td>
          </tr>
        </tfoot>
      </table>
      <% if user_signed_in? %>
      <div class="text-center">
        <%= form_tag order_payments_path(@order) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="ilunch"
            data-email="<%= @order.user.email if @order.user %>"
            data-description="Commande #<%= @order.id %>"
            data-amount="<%= @order.total_price_cents %>"
            data-currency="<%= @order.total_price.currency %>"></script>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% if @order.user.blank? && !user_signed_in? %>
        <%= render 'user_form' %>
      <% else %>
        <ul>
          <li><%= current_user.first_name %></li>
          <li><%= current_user.last_name %></li>
          <li><%= current_user.email %></li>
          <li><%= current_user.company.name %></li>
          <li><%= current_user.company.street %></li>
          <li><%= current_user.company.post_code %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready( function(){
      $('.container').on('click','#edit-company-btn', function (){
        console.log('start hidding');
        $('#company-form').show();
      });
    });
  </script>
<% end %>
