<div class="container admin-container">
  <%= simple_form_for [:admin, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>
