<div class="container admin-container">
  <h2>Produits</h2>
  <% if policy(Product.new).create? %>
    <%= link_to 'Ajouter un produit', new_admin_product_path, class: 'btn btn-primary' %>
  <% end %>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th colspan="3">Date</th>
      </tr>
    </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td>
          <% if product.photo? %>
            <%= cl_image_tag product.photo.path, width: 100, height: 50, crop: :fill %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td><%= t("admin.product.category.#{product.category}").capitalize %></td>
        <td><%= humanized_money_with_symbol(product.price) %></td>
        <td><%= product.stock %></td>
        <td><%= product.date.strftime('%d/%m/%Y') %></td>
        <td>
          <% if policy(product).update? %>
            <%= link_to 'modifier', edit_admin_product_path(product) %>
          <% end %>
        </td>
        <td>
          <% if policy(product).destroy? %>
            <%= link_to 'supprimer', admin_product_path(product), method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @products %>
</div>
