<% title  'Admin' + ' - ' + LineItem.model_name.human.capitalize %>

<div class="container admin-container">
  <h2>Line Items</h2>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Order id</th>
        <th colspan="2">Product</th>
        <th>Quantity</th>
        <th>Menu Items</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <% @line_items.each do |li| %>
      <tr>
        <td>#<%= li.order.id %></td>
        <% if li.product.present? %>
          <td>
            <% if li.product.photo? %>
              <%= cl_image_tag li.product.photo.path, width: 100, height: 50, crop: :fill %>
            <% end %>
          </td>
          <td><%= li.product.name %></td>
        <% elsif %>
          <td><%= cl_image_tag li.menu.photo.path, width: 100, height: 50, crop: :fill %></td>
          <td><%= li.menu.title %></td>
        <% end %>
        <td>X&nbsp;<%= li.quantity %></td>
        <td>
          <% if li.menu_items.present? %>
            <%= link_to "#{li.menu_items.count} menu items", admin_menu_items_path(line_item: li.id) %>
          <% else %>
            aucun
          <% end %>
        </td>
        <td><%= humanized_money_with_symbol(li.total_price) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @line_items %>
</div>
