<% title  'Admin' + ' - ' + User.model_name.human.capitalize %>

<div class="container admin-container">
  <h2>Clients</h2>
  <div class="metrics-list">
    <div class="metric">
      <span class="number"><%= @total_users %></span>
      Total
    </div>
    <div class="metric">
      <span class="number"><%= @weekly_users %></span>
      Weekly
    </div>
  </div>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Orders</th>
        <th>Updated at</th>
        <th colspan="3">opt-in?</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= user.email %></td>
        <td><%= user.phone.nil? ? 'aucun' : user.phone %></td>
        <td><%= user.orders.count %> orders</td>
        <td><%= user.updated_at.strftime('%d/%m/%Y') %></td>
        <td><%= user.optin? ? true : '-' %></td>
        <td><%= link_to 'supprimer', admin_user_path(user), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @users %>
</div>
