<% title  'Admin' + ' - ' + MenuItem.model_name.human.capitalize %>

<div class="container admin-container">
  <h2>Menu Items</h2>
  <table class="resource-list">
    <thead>
      <tr>
        <th>Order id</th>
        <th>User</th>
        <th colspan="2">Product</th>
        <th>Quantity</th>
        <th>Date</th>
      </tr>
    </thead>
    <% @menu_items.each do |mi| %>
      <tr>
        <td><%= link_to "##{mi.order.id}", admin_orders_path(id: mi.order.id) %></td>
        <td>
          <%= mi.order.user ? mi.order.user.full_name : 'Aucun' %>
        </td>
        <td>
          <% if mi.product.photo? %>
            <%= cl_image_tag mi.product.photo.path, width: 100, height: 50, crop: :fill %>
          <% end %>
        </td>
        <td><%= mi.product.name %></td>
        <td>X&nbsp;<%= mi.quantity %></td>
        <td><%= l(mi.order.date, format: '%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @menu_items %>
</div>
