<div class="container admin-container">
  <%= simple_form_for [:admin, @menu] do |f| %>
    <%= f.input :title %>
    <%= f.input :main %>
    <%= f.input :dessert %>
    <%= f.input :drink %>
    <%= f.input :price %>
    <%= f.input :active, label: 'visible' %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>
