<div class="container admin-container">
  <%= simple_form_for [:admin, @menu] do |f| %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.submit %>
  <% end %>
</div>
