<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body class="<%= ( params[:controller] + '-' + params[:action] ).gsub( '/', '-' ) %>">
    <%= render 'shared/navbar' unless admin_view?(params[:controller]) %>
    <%= render 'shared/flashes' %>
    <%= render 'admin/shared/navbar' if admin_view?(params[:controller]) %>

    <div class="content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' unless admin_view?(params[:controller]) %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
